@{
    ViewBag.Title = "Resh API";
}

<div class="jumbotron">
    <p>
        This is a REST API for Resh units. <br />
        To find Resh units, append /resh/id to the address, <br />
        eg:  http://reshserver.azurewebsites.net/resh/100320
    </p>
</div>